/* ----- Form ----- */
.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: auto;
    height: auto;
    border-radius: 20px;
    transition: all 300ms ease-in-out;
    pointer-events: none;
    opacity: 0;
    box-shadow: 0 0 10px rgba(58, 212, 255, 1)
}

/* ----- Form active ----- */
.form.active {
    transform: translate(-50%, -50%);
    pointer-events: auto;
    opacity: 1;
}

#form-log:not(.active) {
    transform: translate(calc(-50% - 500px), -50%);
}

#form-reg:not(.active) {
    transform: translate(calc(-50% + 500px), -50%);
}

/* ----- Title ----- */
.form .title {
    margin: 0;
}

/* ----- Field ----- */
.form .field {
    position: relative;
    margin-top: 0 auto;
    border: 1px solid black;
    border-radius: 15px;
    padding-left: 15px;
    width: 350px;
    height: 50px;
}

/* ----- Input ----- */
.form .field input {
    font-size: 14px;
    border: none;
    width: 300px;
    height: 100%;
    background: none;
}

/* ----- Hover Input----- */
.form .field input:focus {
  outline: none;
}

/* ----- Img ----- */
.form .field img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    opacity: 0;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

/* ----- Img active ----- */
.form .field img.active {
    opacity: 1;
}

/* ----- Field 'login' ----- */
#form-log .field.login {
    margin-top: 80px;
}

/* ----- Field 'password' ----- */
#form-log .field.password {
    margin-top: 15px;
}

/* ----- Reg ----- */

/* ----- Field 'login' ----- */
#form-reg .field.login {
    margin-top: 60px;
}

/* ----- Field 'password' ----- */
#form-reg .field.password {
    margin-top: 15px;
}

/* ----- Button submit ----- */
.submit-btn {
    margin: 80px auto 0;
    padding: 0 50px;
    width: auto;
    height: 40px;
    border: 1px solid black;
    border-radius: 15px;
    background: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

/* ----- Button submit ----- */
#form-reg .submit-btn {
    margin: 60px auto 0;
}

/* ----- Hover Button submit ----- */
.submit-btn:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 10px rgba(58, 212, 255, 1)
}

.text-under-submit {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.text-forgot-password {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.text-under-submit strong, .text-forgot-password strong {
    font-weight: 600;
    cursor: pointer;
}

.text-under-submit strong:hover, .text-forgot-password strong:hover {
    text-decoration: underline;
}