.form {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 50px 35px;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(58, 212, 255, 1);
    transition: all 200ms ease-in-out;
    opacity: 0;
    pointer-events: none;
}
.form.active {
    opacity: 1;
    pointer-events: auto;
}
#form-log:not(.active) { translate: -175% -50%; }
#form-reg:not(.active) { translate: 75% -50%; }

.form .title {
    margin: 0;
}
.form .field {
    position: relative;
    margin-top: 0 auto;
    border: 1px solid black;
    border-radius: 15px;
    padding: 0 15px;
    width: clamp(250px, 64vw, 350px);
    height: 45px;
}
.form .field input {
    font-size: 14px;
    border: none;
    width: 100%;
    height: 100%;
    background: none;
}
.form .field input:focus {
  outline: none;
}
.form .field img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    opacity: 0;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}
.form .field img.active {
    opacity: 1;
}

/* ----- LOG ----- */

#form-log .field.login {
    margin-top: 80px;
}
#form-log .field.password {
    margin-top: 15px;
}

/* ----- REG ----- */

#form-reg .field.login {
    margin-top: 60px;
}
#form-reg .field.password {
    margin-top: 15px;
}
.form .submit-btn {
    margin: 80px auto 0;
    padding: 0 50px;
    width: auto;
    height: 40px;
    border: 1px solid black;
    border-radius: 15px;
    background: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
#form-reg .submit-btn {
    margin: 60px auto 0;
    padding: 0 15px;
}
.form .submit-btn:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 10px rgba(58, 212, 255, 1)
}
.form .text-under-submit {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.form .text-forgot-password {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.form .text-under-submit strong, 
.form .text-forgot-password strong {
    font-weight: 600;
    cursor: pointer;
}
.form .text-under-submit strong:hover,
.form .text-forgot-password strong:hover {
    text-decoration: underline;
}