/* ===== АДАПТАЦИЯ ПОД ЭКРАНЫ МЕНЬШЕ 1200px ===== */

@media screen and (max-width: 1200px) {
    a:focus {
        outline: none;
    }
    a:active {
        color: inherit;
    }
    

    /* ===== header ===== */

    .navbar {
        margin: 0;
        width: 100%;
        height: 65px;
    }

    .burger-menu {
        position: absolute;
        top: 0;
        right: 30px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .burger-menu img {
        height: 25px;
        width: 25px;
        cursor: pointer;
        transition: all 200ms ease-in-out;
    }

    #sidebar {
        position: fixed;
        z-index: 1000;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100vh;
        height: 100dvh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 20px 30px;
        gap: 20px;
        border-radius: 0;
        transition: all 200ms ease-in-out;
    }
    #sidebar.show {
        right: 0;
    }
    #sidebar li:not(.selected):hover {
        transform: translateX(3px);
    }

    .overlay-sidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        height: 100dvh;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: var(--transition);
        pointer-events: none;
    }
    .overlay-sidebar.show {
        opacity: 1;
        pointer-events: auto;
    }

    .close-sidebar {
        display: block;
        position: absolute;
        right: 30px;
    }
    .close-sidebar img {
        height: 20px;
        width: 20px;
        cursor: pointer;
        transition: all 200ms ease-in-out;
    }
    .close-sidebar img:hover {
        transform: rotate(-90deg);
    }

    .logo a {
        font-size: 24px;
        margin-left: -10px;
    }
    .logo img {
        width: 60px;
        height: 60px;
        margin-top: -4px;
    }

    .profile {
        right: 85px;
    }
    .profile a {
        font-size: 20px;
    }


    /* ===== main ===== */

    main { padding: 65px 0; overflow-x: hidden; }
}

@media screen and (max-width: 1000px) {
    :root {
        /* carousel */
        --carousel-padding: 20px;
        --category-width: 240px;
        --category-height: 120px;
        --carousel-gap: 15px;
        --carousel-max-width: 790px;
    }
    .to-left,
    .to-right {
        width: 40px;
        height: 40px;
        font-size: 32px;
    }
    .category h3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    :root {
        /* carousel */
        --carousel-padding: 17.5px;
        --category-width: 180px;
        --category-height: 90px;
        --carousel-gap: 10px;
        --carousel-max-width: 595px;
    }
    .to-left,
    .to-right {
        width: 35px;
        height: 35px;
        font-size: 28px;
    }
    .category h3 {
        font-size: 14px;
    }
}

@media screen and (max-width: 650px) {
    :root {
        /* carousel */
        --carousel-padding: 12.5px;
        --category-width: 120px;
        --category-height: 60px;
        --carousel-gap: 5px;
        --carousel-max-width: 395px;
    }
    .to-left,
    .to-right {
        width: 25px;
        height: 25px;
        font-size: 22px;
    }
    .category h3 {
        font-size: 12px;
    }
}