* {
    margin: 0;
    padding: 0;
    transition: all 300ms ease-in-out;
}

body {
    font-family: 'Inter', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.35;
}

.title {
    margin: 50px 0;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.25);
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}


/* ===== HEADER ===== */


header {
    position: relative;
}

/* ----- navbar ----- */

.navbar {
    height: 80px;
    width: 650px;
    margin: auto;
    position: relative;
}

.navbar ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar ul li a {
    color: #323232;
    font-size: 18px;
}

.navbar ul li.selected a {
    color: #9575ff;
}

.navbar ul li a:hover {
    color: #9575ff;
}

.navbar ul li {
    transition: transform 300ms ease-in-out;
}

.navbar ul li:not(.selected):hover {
    transform: translateY(-3px);
}

.navbar::after {
    content: '';
    display: block;
    background-color: black;
    position: absolute;
    width: 120%;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

/* ----- logo ----- */

.brand {
    position: absolute;
    display: flex;
    align-items: center;
    left: 30px;
    top: 0;
    height: 100%;
}

.brand img {
    height: 80px;
    width: 80px;
    margin-top: -6px;
}

.brand h1 {
    margin-left: -15px;
}

.brand h1 a {
    transition: color 300ms ease-in-out;
}

.brand h1 a:hover {
    color: #9575ff;
}

/* ----- profile ----- */

.profile {
    position: absolute;
    display: flex;
    align-items: center;
    right: 90px;
    top: 0;
    height: 100%;
}

.profile a {
    transition: color 300ms ease-in-out;
}

.profile a:hover {
    color: #9575ff;
}

/* ----- settings ----- */

.settings {
    position: absolute;
    display: flex;
    align-items: center;
    right: 40px;
    top: 0;
    height: 100%;
}

.settings img {
    height: 25px;
    width: 25px;
}

.settings img:hover {
    transform: rotate(-90deg);
}


/* ===== MAIN ===== */

main {
    padding-bottom: 100px;
}


/* ----- categories -----*/

.wrapper-carousel {
    position: relative;
    height: auto;
    width: 980px;
    margin: auto;
}

.categories {
    position: relative;
    width: 930px;
    overflow-x: auto;
    margin: 0 auto 75px;
    display: flex;
    gap: 15px;
    scroll-snap-type: x mandatory;
}

.categories::-webkit-scrollbar {
    display: none;
}

.to-right, .to-left {
    position: absolute;
    border: none;
    background-color: #9575ff;
    font-family: Consolas, sans-serif;
    font-size: 40px;
    color: #ffffff;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 10;
}

.to-left {
    left: 0;
}

.disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.category {
    display: flex;
    position: relative;
    flex: 0 0 300px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    align-content: center;
    scroll-snap-align: start;
    background-size: cover;  /* картинка покрывает блок */
    background-position: center; /* центрируем */
    background-repeat: no-repeat; /* без повторов */
}

.category::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.3); /* степень затемнения */
    z-index: 1; /* ← затемнение под текстом */
}

.category h3 {
    position: relative;
    z-index: 2; /* ← текст сверху */
    color: #fff;
    align-self: center;
    width: 100%;
    text-align: center;
}

.dots {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 10px;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    width: 12px;
    height: 12px;
    background: #d3d3d3;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.dot.active {
    background: #9575ff;
    width: 30px;
    border-radius: 5px;
}

/* ----- products-cards ----- */

.products-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 6 карточек в ряд */
    gap: 30px; /* расстояние между карточками */
    width: 1370px;
    margin: auto;
}

.product-card {
    width: 250px;
    height: auto;
    border-radius: 15px;
}

.product-image {
    width: 250px;
    height: 350px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0,0,0,0.25);
    transition: all 300ms ease-in-out;
    cursor: pointer;
    opacity: 0;
}

.overlay:hover {
    opacity: 1;
}

/* Кнопка (по центру) */
.buy-btn {
    position: absolute;
    display: block;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    padding: 8px;
    width: 150px;
    border-radius: 10px;

    background: white;
    border: 1px solid black;
    color: black;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;

    opacity: 0;
    z-index: 10;

    transition: all 300ms ease-in-out;
}

.overlay:hover .buy-btn {
    opacity: 1;
}

.product-cena {
    margin-top: 7px;
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
    text-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

.product-name {
    margin: 5px 0;
    text-align: center;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.75);
    text-shadow: 0 2px 4px rgba(0,0,0,0.25);
}